<section id="mainContent">
    <div class="content_top">
      <home-topnews type="tamplate2"></home-topnews>
    </div>
    <div class="content_middle">
      <div class="col-lg-3 col-md-3 col-sm-3">
        <div class="content_middle_leftbar">
          <home-category category="business" type="tamplate1"></home-category>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="content_middle_middle">
          <home-topnews type="tamplate1"></home-topnews>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3">
        <div class="content_middle_rightbar">
          <home-category category="technology" type="tamplate1"></home-category>
        </div>
      </div>
    </div>
    <div class="content_bottom">
      <div class="col-lg-8 col-md-8">
        <div class="content_bottom_left">
          <home-category category="sports" type="tamplate2"></home-category>
          <div class="games_fashion_area">
            <div class="games_category">
                <home-category category="entertainment" type="tamplate3"></home-category>
            </div>
            <div class="fashion_category">
                <home-category category="health" type="tamplate3"></home-category>
            </div>
          </div>
          <div class="technology_catrarea">
              <home-category category="politics" type="tamplate2"></home-category>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4">
        <div class="content_bottom_right">
          <home-topnews type="recent"></home-topnews>
          <home-topnews type="tranding"></home-topnews>
         
        </div>
      </div>
    </div>
  </section>