<div class="single_category wow fadeInDown">
    <h2> <span class="bold_line"><span></span></span> <span class="solid_line"></span> <a href="#" class="title_text">{{this.category}}</a> </h2>
    <ul class="catg1_nav">

      <li *ngFor="let news of Categorynews">
        <div class="catgimg_container"> <a href="{{news.url}}" class="catg1_img"><img alt="" src="{{news.urlToImage}}"></a></div>
        <h3 class="post_titile"><a href="{{news.url}}">{{news.title}}</a></h3>
      </li>

    </ul>
  </div>